flows.json
[{"id":"e2f0c87d.e70268","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7926544c.c5bcbc","type":"ui_form","z":"e2f0c87d.e70268","name":"","label":"","group":"d15d7f4f.ba8a8","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"text","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"text","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"text","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"text","required":true,"rows":null},{"label":"Measles","value":"i","type":"text","required":true,"rows":null},{"label":"BMI","value":"j","type":"text","required":true,"rows":null},{"label":"under 5 deaths","value":"k","type":"text","required":true,"rows":null},{"label":"Polio","value":"l","type":"text","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"text","required":true,"rows":null},{"label":"Diptheria","value":"n","type":"text","required":true,"rows":null},{"label":"HIV AIDS","value":"o","type":"text","required":true,"rows":null},{"label":"GDP","value":"p","type":"text","required":true,"rows":null},{"label":"Population","value":"q","type":"text","required":true,"rows":null},{"label":"thinness 1-19 yo","value":"r","type":"text","required":true,"rows":null},{"label":"thinness 5-9 yo","value":"s","type":"text","required":true,"rows":null},{"label":"Income Composition of Resources","value":"t","type":"text","required":true,"rows":null},{"label":"Schooling","value":"u","type":"text","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":180,"wires":[["45e3b5cf.40df9c"]]},{"id":"45e3b5cf.40df9c","type":"function","z":"e2f0c87d.e70268","name":"pre token","func":"//global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.t);\n\nvar apikey= \"J9IFlE64EiQLJbAv0pUgYoErarPZrX-U7u4JoO1IqoD8\";\nmsg.headers= {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":280,"wires":[["d1135275.dc5b5"]]},{"id":"d1135275.dc5b5","type":"http request","z":"e2f0c87d.e70268","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":180,"wires":[["dcc7f4d7.e05248"]]},{"id":"37d37092.949d6","type":"http request","z":"e2f0c87d.e70268","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/5dbfeebd-5453-443e-b161-09531de1188c/deployments/a12cb313-721f-44ce-8b70-2a9f2983c6d7/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["4e06a1b1.10975","53cca1e3.859fd"]]},{"id":"dcc7f4d7.e05248","type":"function","z":"e2f0c87d.e70268","name":"model","func":"var token=msg.payload.access_token;\nvar instance_id= \"5dbfeebd-5453-443e-b161-09531de1188c\";\nmsg.headers= {\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//var a= global.get(\"a\");\nvar b= global.get(\"b\");\nvar c= global.get(\"c\");\nvar d= global.get(\"d\");\nvar e= global.get(\"e\");\nvar f= global.get(\"f\");\nvar g= global.get(\"g\");\nvar h= global.get(\"h\");\nvar i= global.get(\"i\");\nvar j= global.get(\"j\");\nvar k= global.get(\"k\");\nvar l= global.get(\"l\");\nvar m= global.get(\"m\");\nvar n= global.get(\"n\");\nvar o= global.get(\"o\");\nvar p= global.get(\"p\");\nvar q= global.get(\"q\");\nvar r= global.get(\"r\");\nvar s= global.get(\"s\");\nvar t= global.get(\"t\");\nvar u= global.get(\"u\");\n\nmsg.payload=\n{\"fields\": ['Year','Status', 'Adult Mortality', 'infant deaths',\n         'Alcohol' ,  'percentage expenditure',  'Hepatitis B',\n        'Measles ',  ' BMI ',  'under-five deaths ',  'Polio',  'Total expenditure',\n        'Diphtheria ',  ' HIV/AIDS',  'GDP',  'Population',\n        ' thinness  1-19 years',  ' thinness 5-9 years',\n        'Income composition of resources',  'Schooling'],\n//[\"Year\",\"Status\",\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\"Percentage Expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-Five Deaths\",\"Polio\",\"Total Expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"Thinness  1-19 years\",\"Thinness 5-9 years\",\"Income Composition of Resources\",\"Schooling\"],\n\"values\": [[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}; \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["37d37092.949d6"]]},{"id":"53cca1e3.859fd","type":"function","z":"e2f0c87d.e70268","name":"fetch","func":"msg.payload= msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["95e13b3a.4c9998"]]},{"id":"4e06a1b1.10975","type":"debug","z":"e2f0c87d.e70268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"95e13b3a.4c9998","type":"ui_text","z":"e2f0c87d.e70268","group":"d15d7f4f.ba8a8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":180,"wires":[]},{"id":"d15d7f4f.ba8a8","type":"ui_group","z":"","name":"Average Life Expectancy Prediction","tab":"3946ed1d.1723d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"3946ed1d.1723d2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]